.navbar {
  /* height: 30vh; */
  width: 100%;
  border: green solid 2px;
  background-color: #333;
}

.title {
  color: #fed136;
  float: left;
  height: 10vh;
  width: 20%;
  font-size: 20px;
  font-family: Kaushan Script;
  margin-top: 1%;
}

.navbarblock button {
  display: none;
  width: 20px;
  height: 26px;
}

.navbarblock {
  float: right;
  height: 10vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarblock .top {
  color: white;
}
.navbarblock .top:hover {
  color: #fed136;
}
.toplist {
  display: none;
}

/* desktop size */
@media (max-width: 768px) {
  .title {
    width: 60%;
    font-size: 25px;
  }
  .navbarblock {
    width: 20%;
  }
  .navbarblock button {
    display: block;
    float: right;
    width: 20px;
    height: 26px;
  }
  .top {
    display: none;
  }
  .navbarblocklist {
    float: left;
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .toplist {
    display: block;
    color: white;
    left: 0;
  }
  .toplist:hover {
    color: yellow;
  }

  /* example of transition */
  /* .top {
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 10px;
    position: absolute;
    left: -200px;
    top: 0;
    transition: left 300ms ease-out;
  } */
}

@media (max-width: 356px) {
  .navbar {
    height: 150px;
  }
}
