* {
  margin: 0;
  padding: 0;
}

/* .outter {
  background-image: url("./images/header-bg.jpg");
} */

.app_container {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}
